.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 8%;
}

.heading {
    font-size: 3rem;
    color: aqua;
    margin-bottom: 1rem;
}

.about p {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.2rem;
}

.about a {
    color: aqua;
    text-decoration: none;
    font-size: 1.3rem;
}

.about .para a {
    border: 1px solid aqua;
    background-color: transparent;
    color: aqua;
    cursor: pointer;
    padding: 0.9rem 1.5rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    transition: ease-in-out 0.5s;
}

.about .para a:hover {
    background-color: aqua;
    color: black;
}

.about:last-child {
    padding-top: 2rem;
}


.footer {
    color: rgba(221, 221, 221, 0.738);
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
    height: 40px;
    font-size: 1.3rem;
    padding-top: 10px;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.footer a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(221, 221, 221, 0.738);
}

.footer .icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:1080px) {
    .about {
        width: 95%;
        margin-bottom: 4rem;
    }
}